@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"),
    url("./fonts/IRANSansWeb.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "IRANSansWeb_FaNum";
  src: local("IRANSansWeb_FaNum"),
    url("./fonts/IRANSansWeb_FaNum.ttf") format("truetype");
  font-weight: normal;
}

.ltr {
  direction: ltr;
}

.rmdp-input {
  height: 36px !important;
  padding: 5px !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  transform: rotate(180deg);
}

p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows {
  direction: ltr;
}

.MuiDataGrid-cellCheckbox.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell.MuiDataGrid-cell--textCenter {
  transform: rotate(180deg);
}